root = true
[*]
end_of_line = lf
insert_final_newline = true
charset = utf-8
indent_style = space
indent_size = 4
# This strange setting allows me to format the code so that it fits in Jekyll
ij_visual_guides=73
